<h1>Card Details</h1>

<div>
<p>{{card.imageUrlHiRes}}</p>
</div>
<div>
<h2>{{card.name}}</h2>
<p>{{card.health}}</p>
<p>{{card.releaseDate}}</p>
<p>{{card.rarity}}</p>
</div>
<!--<a href="/collection"></a> -->
